@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark" style="font-size:20px;">Task</h6><br />
            <button class="btn btn-outline-dark" id="addTask">Add Task</button>
        </div>
        <div class="card-body" id="table_data">
        </div>
    </div>
</div>

<div class="modal fade" id="ADD">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategray; color: antiquewhite;">
                <h3 class="modal-title" style="text-align: center;" id="authorHeading">Add Task</h3>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label><h4>Task Id</h4></label>
                        <input type="text" class="form-control" id="TaskId" disabled="disabled" />
                    </div>

                    <div class="form-group">
                        <label><h4>Task Name</h4></label>
                        <input type="text" placeholder="Enter Task Name" class="form-control" id="TaskName" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label><h4>Task Description</h4></label>
                        <input type="text" placeholder="Enter Task Description" class="form-control" id="TaskDes" autocomplete="off" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" onclick="CreateTask();" id="Create">
                    <i class="far fa-save"></i>
                </button>
                <button onclick="HideMain()" class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="far fa-window-close"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategray; color: antiquewhite;">
                <h3 class="modal-title" style="text-align: center;" id="TaskHeading">Task Details</h3>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label><h4>Task Id</h4></label>
                        <input type="text" class="form-control" id="TId" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label><h4>Task Name</h4></label>
                        <input type="text" class="form-control" id="TName" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label><h4>Task Description</h4></label>
                        <input type="text" class="form-control" id="TDes" disabled="disabled" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="EditTask()" style="display:none" class="btn btn-outline-primary" id="btnUpdate">
                    <i class="fa fa-edit"></i>
                </button>
                <button onclick="HideDetailsModal()" class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="far fa-window-close"></i>
                </button>
            </div>

        </div>
    </div>
</div>


<script src="~/jspages/taskjob.js"></script>

<script>

    $(document).ready(function () 
    {
        GetTaskList();
    })

    
</script>




